/* Style the navigation menu */
#myMenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Style the navigation links */
#myMenu li a {
  padding: 12px;
  text-decoration: none;
  color: white;
  display: block;
}

#myMenu li a:hover {
  background-color: rgba(238, 238, 238, 0.425);
}
#results {
  background-color: #1e202b;
  height: 25vh;
  overflow-y: scroll;
}
.find-location {
  margin-bottom: 0 !important;
}

form input {
  border-radius: 20px 3px 20px 3px;
}
#results::-webkit-scrollbar {
  width: 10px;
}
#results::-webkit-scrollbar-track {
  background-color: rgb(40, 39, 49);
}
#results::-webkit-scrollbar-thumb {
  background: rgb(219, 217, 217);
  //   border-radius: 10%;
}
#result::-webkit-scrollbar-thumb:hover {
  background: #555;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  transition: background-color 5000s ease-in-out 0s;
}
.inputfix {
  border-radius: 20px 3px 0px 3px;
  transition: border-radius, linear, 0.7s;
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: hidden;
}

@media screen and (max-width: 768px) {
  .forecast-container .forecast {
    display: block;
    width: calc(100% / 2);
    float: left;
  }
  #results {
    max-width: 94.5%;
  }
}
.info-contact-card {
  background: #021622;
}

@media screen and (max-width: 368px) {
  #results {
    max-width: 91%;
  }
}
@media screen and (min-width: 770px) {
  #results {
    max-width: 96%;
  }
}
@media (min-width: 992px) {
  #results {
    min-width: 97%;
    max-width: 97.5%;
  }
}
